report {
    enabled = true
}

executor {
    $local {
        queueSize = 2
    }

    $slurm {
        queueSize = 16
    }
}


process {
    queue = "cpl"
    executor = "slurm"
    errorStrategy = "retry"

    withLabel: 'slurm_cpu' {
        memory = '32G'
        time = '1d'
    }

    withLabel: 'slurm_gpu' {
        memory = '16G'
        time = '6h'
        clusterOptions = "--gres=gpu:QUADRORTX6000:1"
    }
}
