report {
    enabled = true
}

executor {
    $local {
        queueSize = 2
    }

    $slurm {
        queueSize = 8
    }
}

/*
process {
    queue = "cpl"
    executor = "slurm"

    withLabel: 'slurm_cpu' {
        memory = '8G'
        time = '6h'
    }

    withLabel: 'slurm_gpu' {
        memory = '16G'
        time = '6h'
        clusterOptions = "--gres=gpu:QUADRORTX6000:1"
    }
}*/
